**/.git/**
**/.vscode/**
**/.devcontainer/**
**/node_modules/**
**/.vscode-test/**
**/src/**
**/test/**
**/tests/**
**/example/**
**/*.map
**/*.ts
**/*.tsx
**/*.spec.*
**/*.test.*
**/*.md
!README.md
**/.eslintrc.json
**/tsconfig.json
**/scripts/**
**/run-tests.sh
**/package-vsix.sh
**/temp_commands.txt
**/.gitignore
